.justice_rally{
  width: 1493px;
  margin-top: 10px;
  height: 75%;
  position: relative;
  animation-name: justice_rally;
  animation-duration: 2s;
}

@keyframes justice_rally{
  0%{opacity: 0}
  100%{opacity: 1}
}
p
{
  color: black;
}

#content{
  position: relative;
  animation-name: content;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes content{
  0%{left: -1000px}
  100%{left: 0px}
}

.container h2{
  position: relative;
  animation: topic_name;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes topic_name{
  0%{top: -70px}
  100%{top: 0px}
}

#girl-hide{
  margin-left: 45px;
  margin-top: 50px;
  width: 125%;
  padding: 25px;
  border: 5px solid rgb(189, 56, 56);
}